In [3]:
1. Write a Python Program to Find the Factorial of a Number?
n=int(input("Enter a number "))
fact=1
if(n<=0):
  print("Sorry zero doesn't have any factorial")
else:
  for i in range(1,n+1):
    fact=fact*i
  print("The factorial of",n,"is",fact)

Enter a number 0
Sorry zero doesn't have any factorial

In [11]:
2. Write a Python Program to Display the multiplication Table?
n=int(input("Enter a number "))
for i in range(1,11):
  print("The table of ",n,"*",i,"is",i*n)

Enter a number 5
The table of  5 * 1 is 5
The table of  5 * 2 is 10
The table of  5 * 3 is 15
The table of  5 * 4 is 20
The table of  5 * 5 is 25
The table of  5 * 6 is 30
The table of  5 * 7 is 35
The table of  5 * 8 is 40
The table of  5 * 9 is 45
The table of  5 * 10 is 50

In [16]:
3. Write a Python Program to Print the Fibonacci sequence?
n=int(input("Enter a number "))
n1,n2,count=0,1,0
if n<=0:
  print("enter a postive number")
elif n==1:
  print("the fibonacci is",n)
else:
  while(count<n):
    print(n1,end=" ")
    sum=n1+n2
    n1=n2
    n2=sum
    count += 1

Enter a number 5
0 1 1 2 3

In [17]:
4. Write a Python Program to Check Armstrong Number?
n=int(input("Enter a number "))
sum = 0
temp = n
while temp > 0:
   digit = temp % 10
   sum += digit ** 3
   temp //= 10
if n == sum:
   print(n,"Armstrong number")
else:
   print(n,"not  Armstrong number")

Enter a number 153
153 Armstrong number

In [23]:
5. Write a Python Program to Find Armstrong Number in an Interval?
low=int(input("Enter a first number "))
high=int(input("Enter a last number "))
for i in range(low,high+1):
  order = len(str(i))
  sum = 0
  temp = i
  while temp > 0:
      digit = temp % 10
      sum += digit ** order
      temp //= 10

  if i == sum:
      print(i)

Enter a first number 300
Enter a last number 1000
370
371
407

In [28]:
6. Write a Python Program to Find the Sum of Natural Numbers
n=int(input("Enter a number "))
if n<0:
  print("enter postive number")
else:
  sum=0
  while(n>0):
    sum=sum+n
    n=n-1
  print("The Sum of Natural Numbers is ",sum)

Enter a number 13
The Sum of Natural Numbers is  91